/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 10, 2024, 9:46:04 AM
    Author     : Train 01
*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.login-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 440px;
    height: 780px;
    padding: 30px;
    background-color: #edf2f2;

}

.login-header{
    text-align: center;
    margin: 20px 0 40px 0;
}

.login-header h3{
    color: #333;
    font-size: 30px;
    font-weight: 600;
}

.login-box .input-field{
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 30px;
    
}

::placeholder{
    font-weight: 500;
}

.input-field:focus{
    width: 105%;
    transition: .2s;
}

.input-box i{
    position: relative;
    top: -35px;
    left: 17px;
    color: #fff;
}

.submit-btn{
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    background: black;
    color: #fff;
}

.submit-btn label{
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.submit-btn:hover{
    transform: scale(1.05,1);
}

button{
    font-weight: 500;
   
}

.select-container{
    display: flex;
    justify-content: center;
    position: relative;
    height: 50px;
    padding: 10px 0;
}

.select-box{
    border: none;
    appearance: none;
    padding: 0 30px 0 15px;
    width: 100%;
    font-size: 18px;
}

.two-forms{
    display: flex;
    gap: 10px;
}
.manager-container{
    display: flex;  
}

.main{
    margin-left: 300px;
    padding: 1px 10px;
}