/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 16, 2024, 3:43:00 PM
    Author     : Admin
*/

.container {
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
}

.store-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 440px;
    height: 780px;
    padding: 30px;
    background-color: rgba(237, 242, 242, 0.5); /* Set background to a semi-transparent color */
    border-radius: 30px; /* Optional: to give a rounded edge */
}

.store-form .input-field {
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background for input fields */
    border: 1px solid rgba(0, 0, 0, 0.2); /* Optional: subtle border */
}
