/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 16, 2024, 3:43:00 PM
    Author     : Admin
*/

.container{
    display: flex;
    margin-top: 100px;
}

.store-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 440px;
    height: 780px;
    padding: 30px;
    background-color: #edf2f2;
}